<section>
{{> headerlist}}

 <div class='wrapper'>
    <nav class="nav-home">

            <ul>
                <li><button id="linkAll">Todos</button></li>
                <li><button id="linkOnline">Online</button></li>
                <li><button id="linkFree">Gratis</button></li>
            </ul>
        </nav>
    <div class="header">
        <h2>Eventos populares</h2>
    </div>
        
    <div class="cards-wrap" "all">
         {{#each events as |event|}}
        <div class="card-item {{event.city}}">
            <div class="card-inner">
                <a class="" href="/events/{{event.id}}">
                    <img class=img-event src="{{event.image}}" alt="">  
                </a>
                
                
                <div class="card-info">
                    <div class="card-title">
                        <h3>
                            <a class="" href="/events/{{event.id}}">{{event.title}}</a>
                        </h3>
                    </div>
                    <div class="card-date">{{prettyDate event.date}}</div>
                    <div> 
                        <p class="card-location">{{event.location}}</p>
                    </div>
                    <div>
                        <p class="card-price">EUR {{event.price}}.00</p>
                    </div>
                    <div>
                        <h4 class="card-organizer">{{event.author.name}}</h4>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div> 
    
</div>  
</section>