<section>
   
{{> headerlist}}

 <div class='wrapper'>
    <div class="events-location">
        <form action="/events" method="GET">
            <div class="input-group mb-3">
                <h2>Eventos populares en</h2>
                <h2>
                    <span class=""><i class="fa fa-angle-down input-no-borders"></i></span>
                    <input type="text" name="address" value="{{ query.address }}" class="g-places-finder input-no-borders no-outline" placeholder="ELIGE UNA UBICACIÓN">
                    <button class="btn input-no-borders" type="submit"><i class="fa fa-search"></i></button>
                
                    <input type="hidden" name="lat" value="{{ query.lat }}" />
                    <input type="hidden" name="lng" value="{{ query.lng }}" />

                </h2>
                
            </div>
            
   
        </form>
    </div>
    
  {{!-- //map and markers of all events work here but not on detail event   --}}
{{!-- <div class="row " style="border:1px solid #ddd">
    <div class="col-12 no-padding">
      {{markers events}}
      <div class="g-map">
        
        AQUI VA EL MAPA DEL EVENTO
      </div>
    </div>

  </div> --}}
  

    <nav class="nav-home">
        
        <ul>
            <li> <a href="/events"><button id="linkAll">Todos</button></a></li>
            <li><a href="/events?online"><button id="linkOnline">Online</button></a></li>
            <li><a href="/events?gratis"><button id="linkFree">Gratis</button></a></li>
        </ul>
    </nav>
        
    <div class="cards-wrap" "all">
         {{#each events as |event|}}
        <div class="card-item {{event.city}}">
            <div class="card-inner">
                <a class="" href="/events/{{event.id}}">
                    <img class=img-event src="{{event.image}}" alt="">  
                </a>
                
                
                <div class="card-info">
                    <div class="card-title">
                        <h3>
                            <a class="" href="/events/{{event.id}}">{{event.title}}</a>
                        </h3>
                    </div>
                    <div class="card-date">{{prettyDate event.startDate}}, {{prettyHour event.startDate}}:{{prettyMinutes event.startDate}} </div>
                    <div> 
                        {{#if event.address }}
                         <p class="card-location">{{event.address}}</p>
                        {{else}}
                         <p class="card-location">ONLINE</p>
                        {{/if}}
                        
                    </div>
                    <div>
                        {{!-- crear helper hbs para que si es free salga gratis si es cantidad agregue 2 decimales y el EUR delante --}}
                        {{!-- <p class="card-price">EUR {{event.price}}.00</p> --}}
                        {{#if event.price }}
                         <p class="card-price">EUR {{event.price}}.00</p>
                        {{else}}
                         <p class="card-price">GRATIS</p>
                        {{/if}}
                    </div>
                    <div>
                        <h6 class="card-organizer">{{event.author.name}}</h6>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div> 
    
</div>  
</section>