<section>
{{> headerlist}}

 <div class='wrapper'>

    {{!-- <div class="events-location">
        <h2>Eventos populares en</h2>
        <h2><i class="fa fa-angle-down"></i> 
            <form action="/events" method="GET">
                <div class="input-group mb-3">
                    <input type="text" name="address" value="{{ query.address }}" class="g-places-finder input-no-borders no-outline" placeholder="ELIGE UNA UBICACIÓN">
                    <button class="btn input-no-borders no-outline" type="submit"><i class="fa fa-search"></i></button>
                </div>

                <input type="hidden" name="lat" value="{{ query.lat }}" />
                <input type="hidden" name="lng" value="{{ query.lng }}" />
            </form>
        </h2>

    </div> --}}

    <div class="events-location">
        <form action="/events" method="GET">
            <div class="input-group mb-3">
                <h2>Eventos populares en</h2>
                <h2>
                    <span class=""><i class="fa fa-angle-down input-no-borders"></i></span>
                    <input type="text" name="address" value="{{ query.address }}" class="g-places-finder input-no-borders no-outline" placeholder="ELIGE UNA UBICACIÓN">
                    <button class="btn input-no-borders" type="submit"><i class="fa fa-search"></i></button>
                
                    <input type="hidden" name="lat" value="{{ query.lat }}" />
                    <input type="hidden" name="lng" value="{{ query.lng }}" />

                </h2>
                
            </div>
        </form>
    </div>
    



    <nav class="nav-home">
        <ul>
            <li><button id="linkAll">Todos</button></li>
            <li><button id="linkOnline">Online</button></li>
            <li><button id="linkFree">Gratis</button></li>
        </ul>
    </nav>
    {{!-- <div class="header">
        <h2>Eventos populares</h2>
    </div> --}}
        
    <div class="cards-wrap" "all">
         {{#each events as |event|}}
        <div class="card-item {{event.city}}">
            <div class="card-inner">
                <a class="" href="/events/{{event.id}}">
                    <img class=img-event src="{{event.image}}" alt="">  
                </a>
                
                
                <div class="card-info">
                    <div class="card-title">
                        <h3>
                            <a class="" href="/events/{{event.id}}">{{event.title}}</a>
                        </h3>
                    </div>
                    <div class="card-date">{{prettyDate event.startDate}}, {{prettyHour event.startDate}}:{{prettyMinutes event.startDate}} </div>
                    <div> 
                        <p class="card-location">{{event.address}}</p>
                    </div>
                    <div>
                        {{!-- crear helper hbs para que si es free salga gratis si es cantidad agregue 2 decimales y el EUR delante --}}
                        <p class="card-price">EUR {{event.price}}.00</p>
                    </div>
                    <div>
                        <h6 class="card-organizer">{{event.author.name}}</h6>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div> 
    
</div>  
</section>