
{{!-- <a href="/events"><img class = "logo-nav-register" src="/img/eventbrite_logo.png" alt="Eventbrite Logo"></a> --}}
<div class="register">
<form action="/register" method="post">
  
    <div class="row">
      
    </div>
    <div class="row align-items-center">
      <div class="col 8">
       {{!-- <a href="/events"><img class = " logo-nav-register" src="/img/eventbrite_logo.png" alt="Eventbrite Logo"></a> --}}

        <h1>Crea una cuenta</h1>
        <div class="input-group mb-1">
            <input type="text" name="name" value="{{ user.name }}" class="form-control register {{#if errors.name }}is-invalid{{/if}}" placeholder="Username">
            {{#if errors.name}}<div class="invalid-feedback">{{ errors.name }}</div>{{/if}}
          </div>
        
          <div class="input-group mb-1">
            <input type="text" name="email" value="{{ user.email }}" class="form-control register {{#if errors.email }}is-invalid{{/if}}" placeholder="Direcci칩n de correo electr칩nico">
            {{#if errors.email}}<div class="invalid-feedback">{{ errors.email }}</div>{{/if}}
          </div>
        
          <div class="input-group mb-1">
            <input type="password" name="password" class="form-control register {{#if errors.password }}is-invalid{{/if}}" placeholder="Contrase침a">
            {{#if errors.password}}<div class="invalid-feedback">{{ errors.password }}</div>{{/if}}
          </div>
          <div class="d-grid">
            <button class="btn btn-primary" type="submit">Crear cuenta</button>
          </div>
          <br>
          <hr>
          <div class="d-grid">
            <a class= "links-btn link-register" href="/login">Iniciar sesi칩n</a>
          </div>
      </div>
      <div class="col d-flex justify-content-center">
        <img class="img-fluid mx-auto d-block img-register" src="https://cdn.evbstatic.com/s3-build/perm_001/c24baa/django/images/login/lateral-image-3.jpg"/>
      </div>
      
  
</form>
</div>
{{!-- {{> footer}} --}}